body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}

#response {
    padding: 1rem;
    margin-top: 1rem;
    background-color:	#FFFFFF;
    border-color: #dee2e6;
    border-radius: 0.25rem;
    word-wrap: break-word;
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;
}

#response strong {
    font-weight: bold;
}

#response ol li, #response ul li {
    margin-bottom: .75rem; 
}

#response ol li + p, #response ul li + p {
    margin-top: 0.15rem; 
    margin-bottom: 0; 
}

#response p {
    margin: 0.5rem 0; 
}

#response ol {
    padding-left: 2rem; 
}

#response ul {
    padding-left: 2rem; 
}

#response ul li {
    margin-bottom: 0.5rem !important;
    padding-left: 0 !important;
    text-indent: 0 !important;
}

.spinner-border {
    display: none; 
}